<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakeMKV_Batch_Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MakeMKV_Batch_Converter.Properties.Settings>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MKVSource" serializeAs="String">
                <value>C:\Program Files (x86)\MakeMKV\makemkvcon.exe</value>
            </setting>
            <setting name="MinSec" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="SameAsSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalizeNameChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StandardNameChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShutDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunProgramLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FinalSound" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationLayout" serializeAs="String">
                <value />
            </setting>
        </MakeMKV_Batch_Converter.Properties.Settings>
    </userSettings>
</configuration>