@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>About Me</h2>
    <h3>My name is Alex Gritton. I studied Computer Science at the University of Utah.</h3>

    <p>I created this application because I had a huge library of Iso and Ifo files that I wanted to convert to MKV. I searched for a while trying to find a free batch converter but when I counldn't find any I decided to create an application to do if for me rather than convert them one at a time. This saved me a lot of time and hopefully you as well.</p>
</div>