
@{
    ViewBag.Title = "Email";
}

<div class="jumbotron">
    <h2>Email Received</h2> 
    <p>Thank you for contacting me. I will take a look at your comments and email you back as soon as possible.</p>
</div>


