@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MakeMKV Batch Converter</h1>
    <p class="lead">MakeMKV Batch Converter will convert BluRay, Video_TS Files, and ISO files using <a href="http://www.makemkv.com" >MakeMKV</a>.</p>
    <p><a href="/MakeMKV Batch Converter/setup.exe" class="btn btn-primary btn-lg" id="DownloadButton">Download &raquo;</a></p>
    <p style="font-size: 14px">*Note: I switched to web deployment of the application. This will make it easier for me to update the application. I won't have to repackage it up and post it each time. It will prompt you to install new updates when you open the application. You may get security warnings. This is because I don't want to pay for a certificate to sign a free application.</p>
</div>

<div class="row">

</div>

<script>
    (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    $('#DownloadButton').on('click', function () {
        ga('create', 'UA-62013469-1', 'auto');
        ga('send', 'event', 'button', 'click', 'nav-buttons');
    });
</script>